<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SCG Assignment Portfolio</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/media.css" />
  </head>
  <body>
    <div id="wrap">
      <div class="header">
        <h1>SCG Assignment Portfolio</h1>
      </div>
      <div class="container">
        <div class="project-box" data-day="1">
          <div class="preview-img">
            <img
              src="/img/preview_img_day1.png"
              alt="day 1"
            />
          </div>
          <div class="project-desc">
            <h2>1일차</h2>
            <p>웹의 기초, HTML & CSS</p>
            <p>졸업요건 확인을 도와주는 졸업 도우미 페이지</p>
          </div>
        </div>
        <div class="project-box" data-day="2">
          <div class="preview-img">
            <img
              src="/img/preview_img_day2.png"
              alt="day 2"
            />
          </div>
          <div class="project-desc">
            <h2>2일차</h2>
            <p>웹의 기초, Javascript</p>
            <p>Tip-tac-toe 게임 페이지</p>
          </div>
        </div>
        <div class="project-box" data-day="3">
          <div class="preview-img">
            <img
              src="/img/preview_img_day3.png"
              alt="day 3"
            />
          </div>
          <div class="project-desc">
            <h2>3일차</h2>
            <p>서버의 기초, Node.js</p>
            <p>오늘 나의 기분을 적을 수 있는 페이지</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
