#wrap {
  margin: 0 auto;
}

#skkuLogoImg {
  max-width: 360px;
}

@media screen and (min-width: 1400px) {
  #wrap {
    width: 1320px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399.82px) {
  #wrap {
    width: 1140px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.82px) {
  #wrap {
    width: 960px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.82px) {
  #wrap {
    width: 720px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.82px) {
  #wrap {
    width: 540px;
  }
}

@media screen and (max-width: 575.82px) {
  #wrap {
    width: 100%;
  }

  #skkuLogoImg {
    width: 100%;
  }
}